<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" th:href="@{/css/error/error.css}">
    <title>404-对不起！您访问的页面不存在</title>
</head>
<body bgcolor="#494949">
<div class="head404"></div>
<div class="txtbg404">
    <div class="txtbox">
        <!--thymeleaf 内联表达式取值-->
        <p>对不起，您请求的页面不存在、或已被删除、或暂时不可用</p>
        <p>》<a th:href="@{/}">返回网站首页</a></p>
    </div>
</div>
</body>

</html>