<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>5xx 服务器错误</title>
    <link rel="stylesheet" th:href="@{/css/error/error.css}">

</head>
<body bgcolor="#494949">
<div class="txtbg404">
    <div class="txtbox">
        <p>服务器错误！[[${status}]] [[${message}]]</p>
        <p class="paddingbox">请点击以下链接继续浏览网页</p>
        <p>》<a style="cursor:pointer" οnclick="history.back()">返回上一页面</a></p>
        <p>》<a th:href="@{/}">返回网站首页</a></p>
    </div>
</div>
</body>

</html>