<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>zTree 树插件 标准数据格式</title>
    <link rel="stylesheet" th:href="@{/css/zTree/demo.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/zTree/zTreeStyle/zTreeStyle.css}" type="text/css">
    <script type="text/javascript" th:src="@{/js/zTree/jquery-1.4.4.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/zTree/jquery.ztree.core.min.js}"></script>
    <script type="text/javascript">
        var setting = {};
        $(document).ready(function () {
            $.ajax({
                "url": "http://localhost:8080/example/getStandardData",
                "dataType": "json",
                "success": function (data) {
                    var zNodes = data;
                    $.fn.zTree.init($("#treeDemo"), setting, zNodes);
                },
                "error": function (data) {
                    console.log(data);
                }
            });
        });
    </script>
</head>
<body>
<div class="zTreeDemoBackground left">
    <ul id="treeDemo" class="ztree"></ul>
</div>
</body>
</html>